<ion-header>
  <ion-toolbar>
    <ion-title>
      Exercises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="Doos" (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header>
      <ion-card-title>{{item.plab}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-expandable expandHeight="200px" [expanded]="item.expanded">
        {{item.templateUrl}}
        <br>
        <ion-button (click)="pressButton(item)">
            Exercises
          </ion-button>
        
        
      </app-expandable>
    </ion-card-content>
  </ion-card>
 
  
</ion-content>

