<ion-header>
  <ion-toolbar>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <select name="view" [(ngModel)]="view" (change)="ViewChanged()">
        <option value="month">Maand</option>
        <option value="week">Week</option>
        <option value="day">Dag</option>
      </select>

  <calendar [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onCurrentDateChanged)="onCurrentDateChanged($event)"
  (onRangeChanged)="reloadSource(firstTime, lastTime)"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  step="30">
  
</calendar>

<ion-button (click)="EventAddButtonPressed()">Add event</ion-button>
<form *ngIf="addEvent">
  <input type="text" placeholder="Wat gaat u doen?" [(ngModel)]="titleEvent" name="titleEvent">
  <p>Selecteer een starttijdstip</p><input [(ngModel)]="firstTime" type="time" name="firstTime">
  <p>Selecteer een eindtijdstip</p><input [(ngModel)]="lastTime" type="time" name="lastTime">
  <p>Of duurt dit evenement heel de dag?</p><input type="checkbox" [(ngModel)]="fullDay" name="fullDay">
  <ion-button (click)="addNewEvent()">Save event</ion-button>
</form>
</ion-content>
