.my-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 22;
    top: 0;
    left: 0;
  }

.textBalloon{
  background-color: white;
  z-index: 21;
  margin: auto;
  align-content: center;
  width: 90%;
}