<ion-header>
  <ion-toolbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <select name="view" [(ngModel)]="view" (change)="ViewChanged()">
    <option value="month">Maand</option>
    <option value="week">Week</option>
    <option value="day">Dag</option>
  </select>
  <div class="main">
    
    <button ion-button color="light" class="addEvent" (click)="EventAddButtonPressed(false)">+</button>
    <div class="calendar">
      <calendar [eventSource]="calendarService.eventSource"
      [calendarMode]="calendarService.calendar.mode"
      [currentDate]="calendarService.calendar.currentDate"
      [noEventsLabel]="calendarService.noEventsLabel"
      [locale]="'nl-BE'"
      [startingDayWeek]="calendarService.calendar.startingDayWeek"
      [startingDayMonth]="calendarService.calendar.startingDayMonth"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onRangeChanged)="reloadSource(firstTime, lastTime)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="15">  
      </calendar> 
    </div>
     
  </div>
  

</ion-content>

<div class="my-overlay" padding [hidden]="addEventOverlayHidden">
  <div class="textBalloon" padding [hidden]="addEventOverlayHidden">
      <form *ngIf="calendarEventService.addEvent">
        <div class="buttons">
          <ion-button (click)="addNewEvent()" class="saveEventButton">Save event</ion-button>
          <ion-button (click)="cancelCreatingEvent()" class="cancelEventButton" color="danger">Cancel</ion-button>
        </div>
        <div class="eventInfo">
          <input type="text" placeholder="Wat gaat u doen?" [(ngModel)]="calendarEventService.titleEvent" name="titleEvent">
          <p>Selecteer een starttijdstip</p>
          <input *ngIf="!hasDateBeenPicked" [(ngModel)]="calendarEventService.firstTime" type="datetime-local" required name="firstTime">
          <input *ngIf="hasDateBeenPicked" [(ngModel)]="calendarEventService.firstTime" type="date" required name="firstTime">
          <input *ngIf="hasDateBeenPicked" [(ngModel)]="calendarEventService.firstTime" type="time" required name="firstTime">
          <p>Selecteer een eindtijdstip</p>
          <input *ngIf="!hasDateBeenPicked" [(ngModel)]="calendarEventService.lastTime" type="datetime-local" required name="lastTime">
          <input *ngIf="hasDateBeenPicked" [(ngModel)]="testDate" type="date" required name="lastTime">
          <input *ngIf="hasDateBeenPicked" [(ngModel)]="calendarEventService.lastTime" type="time" required name="lastTime">
          <p>Of duurt dit evenement heel de dag?</p><input type="checkbox" [(ngModel)]="calendarEventService.fullDay" name="fullDay">
          <br>
        </div>
      </form>
  </div>
</div>

<div class="my-overlay" padding [hidden]="eventOverlayHidden">
  <div class="textBalloon" padding [hidden]="eventOverlayHidden">
      <div *ngIf="calendarService.seeEvent">
        <h3>{{calendarService.seeEventData.title}}</h3>
        <p>Start: {{calendarService.startTime}}</p>
        <p>Einde: {{calendarService.endTime}}</p>
        <p>Label: {{calendarService.seeEventData.label}}</p>
        <ion-button (click)="cancelViewingEvent()" class="cancelButton" color="danger">Cancel</ion-button>
      </div>
  </div>
</div>