<ion-header>
  <ion-toolbar>
    <ion-title>{{pageTitle}}</ion-title>{{pageTitle}}
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <select name="view" [(ngModel)]="view" (change)="ViewChanged()">
      <option value="month">Maand</option>
      <option value="week">Week</option>
      <option value="day">Dag</option>
    </select>
    <button ion-button color="light" class="addEvent" (click)="EventAddButtonPressed()">+</button>
    <div class="calendar">
      <calendar [eventSource]="calendarService.eventSource"
      [calendarMode]="calendarService.calendar.mode"
      [currentDate]="calendarService.calendar.currentDate"
      [noEventsLabel]="calendarService.noEventsLabel"
      [locale]="'nl-BE'"
      [startingDayWeek]="calendarService.calendar.startingDayWeek"
      [startingDayMonth]="calendarService.calendar.startingDayMonth"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onRangeChanged)="reloadSource(firstTime, lastTime)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="15">  
      </calendar> 
    </div>
     
  </div>
  

</ion-content>

<div class="my-overlay" padding [hidden]="overlayHidden">
  <div class="textBalloon" padding [hidden]="overlayHidden">
      <form *ngIf="calendarEventService.addEvent">
        <input type="text" placeholder="Wat gaat u doen?" [(ngModel)]="calendarEventService.titleEvent" name="titleEvent">
        <p>Selecteer een starttijdstip</p><input [(ngModel)]="calendarEventService.firstTime" type="time" name="firstTime">
        <p>Selecteer een eindtijdstip</p><input [(ngModel)]="calendarEventService.lastTime" type="time" name="lastTime">
        <p>Of duurt dit evenement heel de dag?</p><input type="checkbox" [(ngModel)]="calendarEventService.fullDay" name="fullDay">
        <br>
        <ion-button (click)="addNewEvent()">Save event</ion-button>
        <ion-button (click)="cancelCreatingEvent()" color="danger">Cancel</ion-button>
      </form>
  </div>
</div>