<ion-header>
  <ion-toolbar>
    <ion-title>Externe-hulp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header>
      <ion-item>
        
        <img [src]="item.Logo"/>
      
      <!--<ion-card-title>{{item.Title}}</ion-card-title>-->
      </ion-item>
    </ion-card-header>

    <ion-card-content >
      <app-expandable  expandHeight="600px" [expanded]="item.expanded">
          {{item.Text}}

          <ion-item name ="site" *ngIf="item.site">
            <ion-thumbnail>
                <img [src]="sitePath"/>
            </ion-thumbnail>
              
              <ion-label>{{item.site}}</ion-label>
          </ion-item>

          <ion-item name="chat" *ngIf="item.chat">
              <ion-thumbnail>
                  <img [src]="chatPath"/>
              </ion-thumbnail>
                
                <ion-label>{{item.chat}}</ion-label>
            </ion-item>

            <ion-item name = "mail" *ngIf="item.mail">
                <ion-thumbnail>
                    <img [src]="mailPath"/>
                </ion-thumbnail>
                  
                  <ion-label>{{item.mail}}</ion-label>
              </ion-item>

              <ion-item name = "phone" *ngIf="item.phone">
                  <ion-thumbnail>
                      <img [src]="phonePath"/>
                  </ion-thumbnail>
                    
                    <ion-label>{{item.phone}}</ion-label>
                </ion-item>

                <ion-item name = "forum" *ngIf="item.forum">
                    <ion-thumbnail>
                        <img [src]="forumPath"/>
                    </ion-thumbnail>
                      
                      <ion-label>{{item.forum}}</ion-label>
                  </ion-item>

      
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content>
