<ion-header>
  <ion-toolbar>
    <ion-title>Externe-hulp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon name="logo-awel">testing</ion-icon>  
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header>
        <ion-icon name="item.Logo"></ion-icon> 
      <ion-card-title>{{item.Title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <app-expandable  expandHeight="200px" [expanded]="item.expanded">
          {{item.Text}}
          <br>
          <ion-icon name="item.Logo"></ion-icon> 
          <ion-icon name="logo-awel"></ion-icon> 
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content>
