
<ion-header>
  <ion-toolbar>
    <ion-title>
      Goals
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Goal" [(ngModel)]="GoalTitle"></ion-input>
        </ion-item>
      </ion-col>
      <!--
      <ion-col>
        <ion-item>
          <ion-input placeholder="Description" [(ngModel)]="GoalDescription"></ion-input>
        </ion-item>
      </ion-col>
      -->
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="CreateRecord()" [disabled]="!GoalTitle ">
          <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
          &nbsp;Create Record
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 
  <ion-card *ngFor="let item of Goals">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{item.GoalTitle}}
        </ion-card-title>
        <ion-card-subtitle>{{item.GoalDescription}} </ion-card-subtitle>
        
      </ion-card-header>
      <ion-card-content>
 
        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
 
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
 
        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Goal</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditGoal"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Description</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditDescription"></ion-input>
        </ion-item>
      
      </ion-card-content>
    </ng-template>
  </ion-card>
 
</ion-content>